@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
  :root {
    --primary: #fafafa;
    --body-color: #d0d9f8;
    /*  hsl(240, 7%, 5%) --- hsl(229, 57%, 11%); */
    --accent: #57c192;
    --primary-text: #252b42;
    --accent-hover: #00ff99;
    --font-anonymous-pro: "Anonymous Pro", monospace;
    --font-nunito: "Nunito", sans-serif;
  }

  body {
    @apply bg-body-color text-primary-text font-primary m-0;
  }
}
